@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700&amp;display=swap');

:root {
  --primary: #d47311;
  --secondary: gray;
  --background: #221910;
  --foreground: #fff;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  user-select: none;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Plus Jakarta Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}